{% extends "base.html" %}

{% block page_title %} | About{% endblock %}

{% block body_class %}about{% endblock %}

{% block header_class %}short{% endblock %}

{% block content %}
    <div id="about-pn" class="jumbotron section tall-box">
        <div class="container">
            <h1 class="full-pad">About PressureNet</h1>

            <p class="about-pitch pull-left col-sm-6">We’re an atmosphere data and software intelligence company. Our mission is to dramatically improve weather and climate forecasting. We’re using new software tools and taking advantage of the ubiquity of connected atmosphere sensors to build the highest-resolution data collection system for the Earth.</p>
            <p class="about-pitch pull-left col-sm-6">We’ve built an open source platform that collects data from Android smartphones called the PressureNet SDK, and we provide a feed of this data for atmosphere researchers through the PressureNet API.</p>
        </div>
    </div>

    <div id="about-apps" class="level-group container section">
        <h2>Apps</h2>

        <p class="col-sm-6 col-sm-offset-3">We’re building innovative apps on top of the PressureNet SDK - and you can too! Here are some of the apps in development by us and other developers:</p>

        <div class="col-sm-4">
            <h3><a class="link-play" href="https://play.google.com/store/apps/details?id=ca.cumulonimbus.barometernetwork" target="_blank" title="Get PressureNet on Google Play">PressureNet</a></h3>
            <p class="app-description level-item">Our initial dedicated app to collect sensor data.</p>
            <img class="app-screen img-responsive" src="{{ STATIC_URL }}images/screen-pressurenet.png" alt="PressureNet Screenshot">
        </div>

        <div class="col-sm-4">
            <h3><a class="link-play" href="https://play.google.com/store/apps/details?id=com.egondev.android.patientzero" target="_blank" title="Get Patient Zero on Google Play">Patient Zero</a></h3>
            <p class="app-description level-item">The next version of the fun pandemic simulator Patient Zero will incorporate PressureNet.</p>
            <img class="app-screen img-responsive" src="{{ STATIC_URL }}images/screen-patient-zero.png" alt="Patient Zero Screenshot">
        </div>

        <div class="col-sm-4">
            <h3><a class="link-play" href="https://play.google.com/store/apps/details?id=ca.cumulonimbus.doodlecam" target="_blank" title="Get Doodlecam on Google Play">DoodleCam Beta</a></h3>
            <p class="app-description level-item">Scary monsters in the sky will be weather aware!</p>
            <img class="app-screen img-responsive" src="{{ STATIC_URL }}images/screen-doodlecam.png" alt="Doodlecam Screenshot">
        </div>
    </div>

    <div id="about-sdk-api" class="jumbotron section tall-box">
        <div class="container">
            <div class="border-right col-sm-6">
                <h2>The SDK</h2>
                <p>We’ve made it easy for Android developers to become a part of the PressureNet data collection network. The pressureNET SDK is an Android library project that enables simple atmosphere sensor data collection and transmission to researchers. Integrating the SDK into your app provides you with simple access to our data and weather APIs while automatically contributing additional atmosphere data to our network.</p>
            </div>
            <div class="col-sm-6">
                <h2>The API</h2>
                <p>Our data archive contains hundreds of millions of atmospheric pressure measurements and we’re growing our live data intake quickly. In order to enable collaboration and science research, this data is available through our PressureNet API.</p>
            </div>

            <div class="clearfix"></div>

            <a class="btn btn-primary btn-lg" href="{% url "customers-landing" %}" role="button">More details</a>
        </div>
    </div>

    <div id="about-faq" class="container section">
        <div class="container">
            <h2 class="full-pad">PressureNet App FAQ</h2>

            <dl id="about-faq" class="faq collapse-group col-sm-6 col-sm-push-3">
                <dt class="collapsed" data-toggle="collapse" data-parent="#about-faq" href="#faq1">Does the pressure change depending on if I’m indoors or outdoors?<span class="caret"></span></dt>
                <dd id="faq1" class="collapse"><p>The great thing about atmospheric pressure is that it's essentially the same inside and outside. While temperature and humidity are heavily affected by surrounding influences, pressure is basically the same at the same altitude. Of course, over a wide area the pressure is different, that's precisely what we're tracking.</p></dd>

                <dt class="collapsed" data-toggle="collapse" data-parent="#about-faq" href="#faq2">Does altitude affect the pressure?<span class="caret"></span></dt>
                <dd id="faq2" class="collapse"><p>Altitude will dramatically affect the barometer. That's why barometers are in some phones in the first place; for quick GPS altitude estimates. If you're on the 25<sup>th</sup> floor of your office building, you'll be feeding us data that's about 10-15 mbars lower than the ground level data. The trend for that data, though, will be the same as it would be at ground level, so it's still incredibly valuable. We're working on various ways of cleaning the data server side to make it most accurate and useful.</p></dd>

                <dt class="collapsed" data-toggle="collapse" data-parent="#about-faq" href="#faq3">How do I become a beta tester?<span class="caret"></span></dt>
                <dd id="faq3" class="collapse"><p>First, you'll need to join our <a href="https://plus.google.com/u/0/communities/109657802451413701146" target="_blank" title="Join up!">Google+ PressureNet community</a>. Once a member, you can click on the “Get PressureNet Beta Releases” link located near the top right of the screen. If you’re already a member of our Google+ community, you can continue on from <a href="https://play.google.com/apps/testing/ca.cumulonimbus.barometernetwork" target="_blank">here</a>.</p></dd>

                <dt class="collapsed" data-toggle="collapse" data-parent="#about-faq" href="#faq4">How will this help weather forecasting?<span class="caret"></span></dt>
                <dd id="faq4" class="collapse"><p>Recent discoveries and advancements in mesoscale meteorology suggest that a high density of surface level atmospheric pressure data could be used to create significantly more accurate weather forecasts. We’re working with atmospheric science researchers at the University of Washington to collect the data and build the atmosphere models. Read more at <a href="http://cliffmass.blogspot.com" target="_blank">Cliff Mass’ blog</a>.</p></dd>

                <dt class="collapsed" data-toggle="collapse" data-parent="#about-faq" href="#faq5">Which devices have a barometer?<span class="caret"></span></dt>
                <dd id="faq5" class="collapse">
                    <p>
                        Galaxy S3, S4, S5<br>
                        Galaxy Nexus<br>
                        Galaxy Note, 2, 3<br>
                        Nexus 4, 5, 10<br>
                        Xoom<br>
                        RAZR MAXX HD<br>
                        Xiaomi MI-2, MI-3<br>
                        Droid Ultra<br>
                        Moto X<br>
                        HTC One (M8)<br>
                        ... and more arriving all the time!
                    </p>
                </dd>

                <dt class="collapsed" data-toggle="collapse" data-parent="#about-faq" href="#faq6">Does the iPhone have a barometer?<span class="caret"></span></dt>
                <dd id="faq6" class="collapse"><p>The current models unfortunately don't. Though, it's rumoured that the iPhone 6 <em>will</em> have one!</p></dd>

                <dt class="collapsed" data-toggle="collapse" data-parent="#about-faq" href="#faq7">Why do smartphones have barometers?<span class="caret"></span></dt>
                <dd id="faq7" class="collapse"><p>The barometers are added to the devices to speed up GPS location; the addition of altitude estimates gained from pressure readings to the already-estimated latitude and longitude makes it easier for the phone to get an accurate location lock.</p></dd>

                <dt class="collapsed" data-toggle="collapse" data-parent="#about-faq" href="#faq8">Do I need a barometer device to get PressureNet?<span class="caret"></span></dt>
                <dd id="faq8" class="collapse"><p>Nope! Even if your phone can't measure pressure, you can still view the submissions. You can also participate by reporting current weather conditions.</p></dd>

                <dt class="collapsed" data-toggle="collapse" data-parent="#about-faq" href="#faq9">How does Current Conditions work?<span class="caret"></span></dt>
                <dd id="faq9" class="collapse"><p>Current Conditions automatically expire after two hours to keep weather reports relevant. You can choose how frequently you’re notified of incoming surrounding conditions. The options are: 10 minutes, an hour, or five hours.</p></dd>

                <dt class="collapsed" data-toggle="collapse" data-parent="#about-faq" href="#faq10">How does PressureNet affect battery life?<span class="caret"></span></dt>
                <dd id="faq10" class="collapse"><p>General use of PressureNet does not significantly affect battery life. We offer a few settings (send data only when charging, toggle GPS, and submission frequency) to help you adjust in case you notice too much resource use. Please alert us if you find any bugs, especially battery-related ones by emailing <a href="mailto:contact@cumulonimbus.ca">contact@cumulonimbus.ca</a>.</p></dd>
            </dl>
        </div>
    </div>

    <div id="about-team" class="level-group container section">
        <h2>The Team</h2>

        <div class="col-sm-3">
            <img class="img-corners img-responsive" src="{{ STATIC_URL }}images/photo-jacob.jpg" alt="Photo of Jacob">
            <hgroup class="team-titles level-item">
                <h3>Jacob Sheehy</h3>
                <h4>CEO, Co-Founder</h4>
            </hgroup>
            <div class="contact-group">
                <a id="social-site" href="http://jacobsheehy.com" target="_blank" title="Visit Jacob's Personal Site"><i class="fa fa-home fa-lg"></i></a>
                <a id="social-email" href="mailto:jacob@cumulonimbus.ca" title="E-mail Jacob"><i class="fa fa-envelope fa-lg"></i></a>
                <a id="social-twitter" href="https://twitter.com/vallesmarineris" title="Follow Jacob on Twitter"><i class="fa fa-twitter fa-lg"></i></a>
                <a id="social-linkedin" href="http://www.linkedin.com/pub/jacob-sheehy/22/bb8/693" title="Follow Jacob on LinkedOn"><i class="fa fa-linkedin-square fa-lg"></i></a>
            </div>
        </div>
        <div class="col-sm-3">
            <img class="img-corners img-responsive" src="{{ STATIC_URL }}images/photo-phil.jpg" alt="Photo of Phil">
            <hgroup class="team-titles level-item">
                <h3>Phil Jones</h3>
                <h4>Chief Creative,<br> Co-Founder</h4>
            </hgroup>
            <div class="contact-group">
                <a id="social-site" href="http://philippejones.com" target="_blank" title="Visit Phil's Personal Site"><i class="fa fa-home fa-lg"></i></a>
                <a id="social-email" href="mailto:phil@cumulonimbus.ca" title="E-mail Phil"><i class="fa fa-envelope fa-lg"></i></a>
                <a id="social-twitter" href="https://twitter.com/philippejones" title="Follow Phil on Twitter"><i class="fa fa-twitter fa-lg"></i></a>
                <a id="social-linkedin" href="http://www.linkedin.com/in/philippestuartjones" title="Follow Phil on LinkedOn"><i class="fa fa-linkedin-square fa-lg"></i></a>
            </div>
        </div>
        <div class="col-sm-3">
            <img class="img-corners img-responsive" src="{{ STATIC_URL }}images/photo-jared.jpg" alt="Photo of Jacob">
            <hgroup class="team-titles level-item">
                <h3>Jared Kerim</h3>
                <h4>CTO</h4>
            </hgroup>
            <div class="contact-group">
                <a id="social-site" href="http://jaredkerim.com" target="_blank" title="Visit Jared's Personal Site"><i class="fa fa-home fa-lg"></i></a>
                <a id="social-email" href="mailto:jared@cumulonimbus.ca" title="E-mail Jared"><i class="fa fa-envelope fa-lg"></i></a>
                <a id="social-twitter" href="https://twitter.com/jaredkerim" title="Follow Jared on Twitter"><i class="fa fa-twitter fa-lg"></i></a>
                <a id="social-linkedin" href="http://www.linkedin.com/pub/jared-kerim/34/321/b33" title="Follow Jared on LinkedOn"><i class="fa fa-linkedin-square fa-lg"></i></a>
            </div>
        </div>
        <div class="col-sm-3">
            <img class="img-corners img-responsive" src="{{ STATIC_URL }}images/photo-laura.jpg" alt="Photo of Jacob">
            <hgroup class="team-titles level-item">
                <h3>Laura D'Alessandro</h3>
                <h4>Community Coordinator</h4>
            </hgroup>
            <div class="contact-group">
                <a id="social-site" href="http://laura-dalessandro.com" target="_blank" title="Visit Laura's Personal Site"><i class="fa fa-home fa-lg"></i></a>
                <a id="social-email" href="mailto:laura@cumulonimbus.ca" title="E-mail Laura"><i class="fa fa-envelope fa-lg"></i></a>
                <a id="social-twitter" href="https://twitter.com/flossyflotsam" title="Follow Laura on Twitter"><i class="fa fa-twitter fa-lg"></i></a>
                <a id="social-linkedin" href="http://www.linkedin.com/pub/laura-d-alessandro/87/613/73a" title="Follow Laura on LinkedOn"><i class="fa fa-linkedin-square fa-lg"></i></a>
            </div>
        </div>
    </div>

    <div id="about-jobs" class="container section">
        <h2>Jobs</h2>
        
        <div class="border-right col-sm-6">
            <p>Can you spot the holes in our team? We're currently looking for the following positions to fill:</p>

            <dl id="jobs-list" class="collapse-group">
                <dt class="collapsed" data-toggle="collapse" data-parent="#jobs-list" data-target="#job1">WRF Modeller<span class="caret"></span></dt>
                <dd id="job1" class="job-listing collapse">
                    <p>We’re looking for the best atmosphere modellers in the world. You’ll be in charge of our WRF data assimilation system and managing our WRF model runs and experiments. We’re collecting hundreds of millions of measurements of the atmosphere; help us examine this data and test our new weather forecasts!</p>
                    <p><a href="{{ STATIC_URL }}docs/Cumulonimbus-Data-Scientist.pdf"><i class="fa fa-file-pdf-o fa"></i> Job Posting</a></p>
                </dd>

                <dt class="collapsed" data-toggle="collapse" data-parent="#jobs-list" data-target="#job2">iOS Developer<span class="caret"></span></dt>
                <dd id="job2" class="job-listing collapse">
                    <p>We’re about to build the best and most innovative iOS weather app: we’ve built the PressureNet platform on Android and are integrating new weather models to create vastly higher-resolution weather forecasts, custom-tailored for our users. You’ll be in charge of creating our open source iOS PressureNet SDK which you’ll use to develop our weather apps for iPhones and iPads. You’ll write code to collect sensor data, visualize weather patterns, and innovate on how weather forecasts are delivered.</p>
                    <p><a href="{{ STATIC_URL }}docs/Cumulonimbus-iOS-Developer.pdf"><i class="fa fa-file-pdf-o fa"></i> Job Posting</a></p>
                </dd>

                <dt class="collapsed" data-toggle="collapse" data-parent="#jobs-list" data-target="#job3">Android Developer<span class="caret"></span></dt>
                <dd id="job3" class="job-listing collapse">
                    <p>Our PressureNet app has 15,000 users. Our SDK has a quickly growing developer community. You’ll be in charge of developing both our Android SDK and our Android apps. We’re using the PressureNet platform for sensor data collection combined with new weather models to create vastly higher-resolution, custom-tailored for our users. You’ll write code to collect sensor data, visualize weather patterns, and innovate on how weather forecasts are delivered.</p>
                    <p><a href="{{ STATIC_URL }}docs/Cumulonimbus-Android-Developer.pdf"><i class="fa fa-file-pdf-o fa"></i> Job Posting</a></p>
                </dd>
            </dl>

        </div>

        <div class="col-sm-6">
            <p class="text-center">Please attach a cover letter and resumé.</p>
            <a class="btn btn-primary btn-lg" href="mailto:jobs@cumulonimbus.ca?subject=Jobs" role="button">Apply</a>
        </div>
    </div>

    <div id="about-contact" class="container section">
        <h2>Contact Us</h2>

        <div class="border-right col-sm-4">
            <h4>General Inquiries</h4>
            <a class="btn btn-grey" href="mailto:contact@cumulonimbus.ca" role="button">Get in Touch!</a>
        </div>
        <div class="border-right col-sm-4">
            <h4>Media Inquiries</h4>
            <a class="btn btn-grey" href="mailto:press@cumulonimbus.ca" role="button">Press</a>
        </div>
        <div class="col-sm-4">
            <h4>Mailing Address</h4>
            <address>
                230-101 College St<br>
                Toronto, ON, Canada<br>
                M5G 1L7<br>
            </address>
        </div>
    </div>
{% endblock %}
