{% extends "base.html" %}

{% load home_tags %}
{% load url from future %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h2>About pressureNET</h2>
            <p>
                pressureNET is a global network of crowdsourced atmospheric sensors that collect weather data. Our app automatically collects atmospheric pressure measurements using barometers in Android devices. We're sharing this data with scientists and researchers to improve weather forecasting. Our goal is to create an extremely high-resolution and high-accuracy weather forecast model using this new source of real-time and hyperlocal data about the Earth's atmosphere.
            </p>

            <hr/>
            <h3>Android App</h3>
            <p>
                Our app is available for free on <a href="{% get_playstore_url %}" target="_blank"> Google Play</a>. We are continuously taking feedback to make it better, so check it out and let us know what you think.
            </p>

            <hr/>
            <h3>SDK and Live Data</h3>
            <p>
                We have built an open source SDK to let Android developers build on top of our platform. We also provide an API for researchers to access our data. Read more on our <a href="{% url 'customers-landing' %}">Developers page</a>.
            </p>

            <hr/>
            <h3>Our Team</h3>
            <p>
                pressureNET is built by <a href="http://jacobsheehy.com/" target="_blank">Jacob Sheehy</a>, <a href="http://philippejones.com/" target="_blank">Phil Jones</a> and <a href="http://jaredkerim.com/" target="_blank">Jared Kerim</a>. We are based in Toronto, Canada.
            </p>
        </div>
    </div>
</div>
{% endblock %}
