{% extends "admin/base.html" %}

{% block extrahead %}
  {{ block.super }}

  <script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.time.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/pressurenet.dashboard.js"></script>
  <script type="text/javascript">
      $(function () {
          PressureNET.dashboardDisplayGraphs({{ graphs|safe }});
      });
  </script>
{% endblock %}

{% block content %}
  <div id="graphs"></div>
{% endblock %}
