{% extends "base.html" %}

{% load url from future %}
    
{% block extrahead %}
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBi5dXNdOowRIkC0DwsgR_mWLbKoQKHvk0&sensor=false"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.js"></script> 
  <script type="text/javascript" src="{{ STATIC_URL }}js/pressurenet.analysis.js"></script> 
{% endblock %}

{% block main_content %}
		<div id="intro" class="full">
			<h2>Welcome to pressureNET</h2>
			<p>We are collecting atmospheric pressure measurements from many thousands of <a href="https://play.google.com/store/apps/details?id=ca.cumulonimbus.barometernetwork" target="_blank">pressureNET</a> users. We intend to use this data to help predict weather more accurately and to better understand Earth's atmosphere. Choose a date range and pan/zoom the map to any location of interest to view the data we have collected.</p>
		</div>

		<div id="date-range" class="full">
			<div class="half">
				<label for="start_date">From</label>
				<input readonly="true" type="text" name="start_date" id="start_date" class="dateselector" placeholder="Start Date">
			</div>
			<div class="half">
				<label for="end_date">To</label>
				<input readonly="true" type="text" id="end_date" name="end_date" class="dateselector" placeholder="End Date">
			</div>
			<input type="button" id="load" value="Load" onClick="PressureNET.loadAndUpdate(0);">
		</div>

		<div id="query_results" class="full"></div>
		<div id="share_spot" class="full">
			<input type="text" id="share_input">
		</div>

		<div id="map_canvas" class="full"></div>  

		<div id="current_position" class="full"></div>

		<div id="placeholder" class="full"></div>

		<div id="graph_info" class="full">
			<p>This graph is a plot of our raw atmospheric pressure data in millibars over time (some outliers have been discarded). Below is a table of information about the graph.</p>

			<table class="graph_info_table">
				<tr>
					<th>Latitude</th>
					<td id="min_latitude_cell"></td>
					<td class="center">to</td>
					<td id="max_latitude_cell"></td>
				</tr>
				<tr>
					<th>Longitude</th>
					<td id="min_longitude_cell"></td>
					<td class="center">to</td>
					<td id="max_longitude_cell"></td>
				</tr>
				<tr>
					<th>Time</th>
					<td id="start_time_cell"></td>
					<td class="center">to</td>
					<td id="end_time_cell"></td>
				</tr>
				<tr>
					<th>Measurements</th>
					<td id="resultsCount_cell" colspan="3"></td>
				</tr>
			</table>
		</div>

{% endblock %}

{% block extra_footer %}
    <script type="text/javascript">
      PressureNET.initialize({
        readingsUrl: '{% url 'readings-stats' %}'
      });

    </script>
{% endblock %}
