{% extends "base.html" %}

{% load home_tags %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/landing.css">
{% endblock extra_head %}

{% block content %}
<div id="hero-container" class="container">
    <div class="row hero">
        <div class="hero-image col-lg-4 col-md-4 col-sm-4">
            <a href="{% get_playstore_url %}" target="_blank">
                <img src="{{ STATIC_URL }}images/landing/phone.png" alt="">
            </a>
        </div>

        <div id="landing_text" class="col-lg-8 col-md-8 col-sm-8">
            <div id="landing_text_clouds">
                <h2 class="hero-tagline">
                    We're building <span class="logotype">pressure<strong>NET</strong></span>
                </h2>

                <p class="lead">
                    We want a more accurate, real-time weather forecast
                </p>
            </div>

            <p>
                pressureNET gathers crowdsourced atmospheric sensor data from Android devices and provides it to scientific researchers.  <a href="{% get_playstore_url %}" target="_blank">Download pressureNET</a> now to help us improve weather forecasts for everybody.
            </p>

            <p>
                <a href="{% get_playstore_url %}" target="_blank">
                  <img class="googleplay_img" alt="Android app on Google Play" src="{{ STATIC_URL }}images/landing/googleplay.png" />
                </a>
            </p>
        </div>

    </div>

</div>
{% endblock content %}
