{% extends "base.html" %}
    
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/map.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/datepicker/css/datepicker.css">
{% endblock %}

{% block content %}
    <div id="map_container">
        <input id="pac-input" class="controls form-control" type="text" placeholder="Search Location">
        <div id="map_canvas">
        </div>

        <div id="map_panel_container" class="container">
            <div class="row">
                <div id="map_panel" class="col-md-8 col-md-offset-2">
                    <span>Pressure in Millibars</span>
                    <div id="map_graph">
                    </div>
                    <form class="form-inline">
                        <div id="map_graph_controls" class="form-group">
                            <div id="date-range" class="input-daterange">
                                <input id="start_date" class="form-control" name="start_date" type="text" placeholder="Start Date" />
                                <label>to</label>
                                <input id="end_date" class="form-control" name="end_date" type="text" placeholder="End Date" />
                            </div>

                            <label for="date_length">by</label>
                            <select id="date_length" class="form-control" name="date_length" type="select">
                                <option value="10minute">10 minutes</option>
                                <option value="hourly" selected>1 hour</option>
                                <option value="daily">1 day</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBi5dXNdOowRIkC0DwsgR_mWLbKoQKHvk0&sensor=false&libraries=places"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}lib/datepicker/js/bootstrap-datepicker.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script> 
    <script type="text/javascript">
        $(function () {
            PressureNET.initialize({
              data_url: '{% url 'readings-stats' %}'
            });
        });
    </script>
{% endblock %}
