Django==1.5.1
Geohash==1.0
MySQL-python==1.2.3
South==0.7.6
URLObject==2.1.0
argparse==1.2.1
bcdoc==0.12.0
boto==2.9.9
botocore==0.29.0
colorama==0.2.5
django-filter==0.6
django-grappelli==2.4.4
django-ses==0.4.1
djangorestframework==2.3.3
docutils==0.11
jmespath==0.2.1
ordereddict==1.1
ply==3.4
pyasn1==0.1.7
python-dateutil==2.2
python-memcached==1.51
raven==3.4.1
requests==2.1.0
rsa==3.1.2
simplejson==3.3.0
six==1.5.2
wsgiref==0.1.2
