<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="font: 14px/1.2 'Open Sans', sans-serif; color: #000; width: 100%; margin: 0 auto;">
	<div id="masthead" style="height: 68px; padding: 10px 0;">
		<h1 id="site-title"><a href="http://pressurenet.io/developers/" style="display: block; font-size: 36px; font-weight: 300; max-width: 584px; height: 36px; background-image: url( 'http://pressurenet.io/static/images/logo-pn-email.png' ); background-position: 10px top; background-repeat: no-repeat; padding: 0 0 10px 56px; margin: 0 auto; color: #33b5e5; text-decoration: none;">pressure<span style="font-weight: 900;">NET</span> Data API</a></h1>
	</div>

	<div id="main" style="max-width: 640px; background-color: #fff; padding: 10px; margin: 0 auto 20px;">

    <p>Hello {{ customer.contact_name }},</p>

    <p>Thank you for signing up for the pressureNET Data API.</p> 

    <p>
      Your API key is:<br/> 
      <strong>{{ customer.api_key}}</strong>
    </p> 

    <p>We plan to continually improve our service and add features to our Data API. If you have comments, questions, feature requests, bug reports, etc, please email us. You can always find our Data API documentation on our website, http://pressurenet.io.</p> 

    <p>
        You can test with the link below.
        {% if customer.company_name %}
            We’re excited to see how you use our data at {{ customer.company_name}}!
        {% endif %}
    </p>

    <p>
      API Demo Link:<br/>
      https://pressurenet.io/live/?min_lat=40&amp;max_lat=45&amp;min_lon=-80&amp;max_lon=-75&amp;start_time=1389913201000&amp;end_time=1389916801000&amp;api_key={{ customer.api_key }}&amp;format=json
    </p>

    <p>
      Thanks,<br/>
      The pressureNET Team<br/>
      http://pressurenet.io/<br/>
    </p>

	</div>
</body>
</html>
