files:
  "/etc/rsyslog.d/22-loggly.conf" :
    mode: "000777"
    owner: root 
    group: root 
    content: |
      # forward Apache logs to loggly: https://cumulonimbus.loggly.com
      $template LogglyFormatApache,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [9ca83edf-d155-4424-940c-083abfb303ec@41058 tag=\"apache\"] %msg%\n"

      if $programname == 'apache' then @@logs.loggly.com:514;LogglyFormatApache
      if $programname == 'apache_error' then @@logs.loggly.com:514;LogglyFormatApache

      # forward all logs to loggly: https://cumulonimbus.loggly.com
      $template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [9ca83edf-d155-4424-940c-083abfb303ec@41058] %msg%\n"

      *.* @@logs-01.loggly.com:514;LogglyFormat

  "/etc/rsyslog.conf" :
    mode: "000777"
    owner: root 
    group: root 
    content: |

      # rsyslog v5 configuration file

      # For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
      # If you experience problems, see http://www.rsyslog.com/doc/troubleshoot.html

      #### MODULES ####

      $ModLoad imuxsock # provides support for local system logging (e.g. via logger command)
      $ModLoad imklog   # provides kernel logging support (previously done by rklogd)
      #$ModLoad immark  # provides --MARK-- message capability

      # Provides UDP syslog reception
      #$ModLoad imudp
      #$UDPServerRun 514

      # Provides TCP syslog reception
      #$ModLoad imtcp
      #$InputTCPServerRun 514


      #### GLOBAL DIRECTIVES ####

      # Use default timestamp format
      $ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

      # File syncing capability is disabled by default. This feature is usually not required,
      # not useful and an extreme performance hit
      #$ActionFileEnableSync on

      # Include all config files in /etc/rsyslog.d/
      $IncludeConfig /etc/rsyslog.d/*.conf


      #### RULES ####

      # Log all kernel messages to the console.
      # Logging much else clutters up the screen.
      kern.*                                                 /dev/console

      # Log anything (except mail) of level info or higher.
      # Don't log private authentication messages!
      *.info;mail.none;authpriv.none;cron.none                /var/log/messages

      # The authpriv file has restricted access.
      authpriv.*                                              /var/log/secure

      # Log all the mail messages in one place.
      mail.*                                                  -/var/log/maillog


      # Log cron stuff
      cron.*                                                  /var/log/cron

      # Everybody gets emergency messages
      *.emerg                                                 *

      # Save news errors of level crit and higher in a special file.
      uucp,news.crit                                          /var/log/spooler

      # Save boot messages also to boot.log
      local7.*                                                /var/log/boot.log


      # ### begin forwarding rule ###
      # The statement between the begin ... end define a SINGLE forwarding
      # rule. They belong together, do NOT split them. If you create multiple
      # forwarding rules, duplicate the whole block!
      # Remote Logging (we use TCP for reliable delivery)
      #
      # An on-disk queue is created for this action. If the remote host is
      # down, messages are spooled to disk and sent when it is up again.
      #$WorkDirectory /var/lib/rsyslog # where to place spool files
      #$ActionQueueFileName fwdRule1 # unique name prefix for spool files
      #$ActionQueueMaxDiskSpace 1g   # 1gb space limit (use as much as possible)
      #$ActionQueueSaveOnShutdown on # save messages to disk on shutdown
      #$ActionQueueType LinkedList   # run asynchronously
      #$ActionResumeRetryCount -1    # infinite retries if host is down
      # remote host is: name/ip:port, e.g. 192.168.0.1:514, port optional
      #*.* @@remote-host:514
      # ### end of the forwarding rule ###
      #
      #
      # imfile only needs to be loaded once
      $ModLoad imfile    # provides support for file monitoring

      # path to the file which you want to monitor
      $InputFileName /var/log/httpd/access_log

      #The tag apache can be changed to whatever you'd like *note this is referenced in the if $programname
      $InputFileTag apache:

      # Provide a unique filename to be used by rsyslog for processing.
      $InputFileStateFile state-apache-access

      # Include standard syslog severity level of your choice
      $InputFileSeverity info

      # Activate the current monitor.
      $InputRunFileMonitor

      # path to the file which you want to monitor
      $InputFileName /var/log/httpd/error_log

      #The tag apache can be changed to whatever you'd like *note this is referenced in the if $programname
      $InputFileTag apache_error:

      # Provide a unique filename to be used by rsyslog for processing.
      $InputFileStateFile state-apache-error

      # Include standard syslog severity level of your choice
      $InputFileSeverity info

      # Activate the current monitor.
      $InputRunFileMonitor

      # check for new lines every 10 seconds
      $InputFilePollInterval 10


container_commands:
  restart_syslog:
    command: "service rsyslog restart" 
