files:
  "/etc/rsyslog.d/loggly.conf" :
    mode: "000777"
    owner: root 
    group: root 
    content: |
      $template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [9ca83edf-d155-4424-940c-083abfb303ec@41058] %msg%"
      *.*             @@logs-01.loggly.com:514;LogglyFormat

  "/etc/httpd/conf.d/loggly.conf" :
    mode: "000777"
    owner: root 
    group: root 
    content: |
      LogFormat "%t %{X-Forwarded-For}i %D \"%r\" %>s %b %U \"%{Referer}i\" \"%{User-Agent}i\"" loggly
      CustomLog "|/usr/bin/logger -t apache -p local6.info" loggly


container_commands:
  01_restart_apache:
    command: service httpd restart
  02_restart_syslog:
    command: service rsyslog restart
