files:
  "/etc/rsyslog.d/22-loggly.conf" :
    mode: "000777"
    owner: root 
    group: root 
    content: |
      # forward to loggly: https://cumulonimbus.loggly.com
      $template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [9ca83edf-d155-4424-940c-083abfb303ec@41058] %msg%\n"

      *.* @@logs-01.loggly.com:514; LogglyFormat


commands:
  restart_syslog:
    command: service rsyslog restart 
