commands:
  01_installlibjpeg:
    command: sudo yum install libjpeg-devel -y > /tmp/yum_logs.log
    cwd: /tmp
  02_uselocalpackages:
    command: sed -i 's/--use-mirrors/-v -I --index-url=file:\/\/\/opt\/python\/ondeck\/app\/packages\/simple\//' 03deploy.py
    cwd: /opt/elasticbeanstalk/hooks/appdeploy/pre
