files:
  "/etc/init/celery-beat.conf" :
    mode: "000777"
    owner: root 
    group: root 
    content: |
      start on runlevel [2345]
      stop on starting rc RUNLEVEL=[016]

      respawn

      script
          source /opt/python/run/venv/bin/activate
          source /opt/python/current/env
          cd /opt/python/current/app
          exec celery -A worker beat -l info -f /var/log/celery_beat.log
      end script

  "/etc/init/celery-worker.conf" :
    mode: "000777"
    owner: root 
    group: root 
    content: |
      start on runlevel [2345]
      stop on starting rc RUNLEVEL=[016]

      respawn

      script
          source /opt/python/run/venv/bin/activate
          source /opt/python/current/env
          cd /opt/python/current/app
          export C_FORCE_ROOT=true
          exec celery -A worker worker -l info  -f /var/log/celery_worker.log
      end script


container_commands:
  01_reload_initctl:
    command: initctl reload-configuration
  02_restart_beat:
    command: start celery-beat || restart celery-beat
    leader_only: true
  03_restart_worker:
    command: start celery-worker || restart celery-worker
