files:
  "/etc/init/celery-worker.conf" :
    mode: "000777"
    owner: root 
    group: root 
    content: |
      stop on starting rc RUNLEVEL=[016]

      respawn

      instance $WORKER

      script
          source /opt/python/run/venv/bin/activate
          source /opt/python/current/env
          cd /opt/python/current/app
          export C_FORCE_ROOT=true
          exec celery -A worker worker -l info -c 4 --pidfile=celerypid.$WORKER.pid -n worker$WORKER
      end script

  "/etc/init/celery-workers.conf" :
    mode: "000777"
    owner: root 
    group: root 
    content: |
      start on runlevel [2345]

      pre-start script
        for worker in `seq 1 \`nproc\``
        do
          start celery-worker WORKER=$worker
        done
      end script

      post-stop script
          for worker in `initctl list|grep "^celery-worker "|awk '{print $2}'|tr -d ')'|tr -d '('`
          do
              stop celery-worker WORKER=$worker
          done
      end script

container_commands:
  01_reload_initctl:
    command: initctl reload-configuration
  02_restart_worker:
    command: start celery-workers || restart celery-workers
