{% extends "base.html" %}

{% load url from future %}
{% load customers_tags %}


{% load widget_tweaks %}


{% block content %}
<div class="container">
    {% get_customer_types as customer_types %}
    {% get_customer_plans as customer_plans %}

    <div class="row">
        <div class="col-md-12">
            <h2>What we provide</h2>
            <hr/>
            <p>We offer a pressureNET API and SDK to developers. Our Live API allows access to our global dataset of atmospheric pressure with simple HTTPS requests. Our SDK is <a href="https://github.com/Cbsoftware/pressureNET-SDK/" target="_blank">open source on GitHub</a> and enables developers to include pressureNET’s core functionality inside their apps to collect and distribute Android sensor data.</p>

            <p>We’re going to ensure that our live data is as accessible as possible. If there’s anything that we can do to make the API service or SDK package easier to use, please let us know as we intend to improve them based on your feedback.</p>
            <p>Documentation is available for the <a href="/static/docs/pressureNET_Live_API_2_1.pdf" target="_blank">API (pdf)</a> as well as the <a href="https://github.com/Cbsoftware/pressureNET-SDK/blob/master/Documentation.md" target="_blank">SDK</a>. In order to use these services, please sign up for an API key below.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Register</h2>
            <hr/>
        </div>
    </div>

    <form class="form-horizontal" role="form" method="POST" action="{% url 'customers-developers' %}">

        {% csrf_token %}

        <div class="form-group col-md-12">
            <label class="control-label col-sm-2">
                Type
            </label>
            <div class="col-sm-10">
                {% for customer_type in customer_types %}
                    <label class="control-label">
                        <input name="customer_type"
                            {% if form.customer_type.value %}
                                {% ifequal form.cleaned_data.customer_type.id customer_type.id %}checked="checked"{% endifequal %}
                            {% else %}
                                {% ifequal forloop.counter0 0 %}checked="checked"{% endifequal %}
                            {% endif %}
                            type="radio" value="{{ customer_type.id }}"/>
                        {{ customer_type.name }}
                    </label>
                    <p>
                        {{ customer_type.description }}
                    </p>
                {% endfor %}
            </div>
        </div>

        <div class="form-group {% if form.contact_name.errors %}has-error{% endif %}">
            <label class="control-label col-sm-2" for="id_contact_name">Name</label>
            <div class="col-sm-10">
                {% render_field form.contact_name class="form-control" %}
            </div>
            <label class="control-label col-sm-10 col-sm-offset-2" for="id_contact_name">
                {% for error in form.contact_name.errors %}
                    {{ error }}
                {% endfor %}
            </label>
        </div>

        <div class="form-group {% if form.contact_mail.errors %}has-error{% endif %}">
            <label class="control-label col-sm-2" for="id_contact_mail">E-mail</label>
            <div class="col-sm-10">
                {% render_field form.contact_mail class="form-control" %}
            </div>
            <label class="control-label col-sm-10 col-sm-offset-2" for="id_contact_mail">
                {% for error in form.contact_mail.errors %}
                    {{ error }}
                {% endfor %}
            </label>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="id_company_name">Organization</label>
            <div class="col-sm-10">
                {% render_field form.company_name class="form-control" %}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="id_contact_phone">Phone</label>
            <div class="col-sm-10">
                {% render_field form.contact_phone class="form-control" %}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="id_contact_address">Address</label>
            <div class="col-sm-10">
                {% render_field form.contact_address class="form-control" rows="4" %}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="id_comments">Comments</label>
            <div class="col-sm-10">
                {% render_field form.comments class="form-control" rows="5" %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-10 col-md-2">
                <input class="btn btn-primary pull-right" type="submit" value="Sign up!" />
            </div>
        </div>

    </form>
</div>
{% endblock %}
