{% extends "base.html" %}

{% block page_title %} | API{% endblock %}

{% block body_class %}api{% endblock %}

{% block header_class %}short{% endblock %}

{% block content %}
    <div id="api-headline" class="jumbotron section">
        <div id="video-api" class="video-box">
            <video class="hidden-xs hidden-sm" loop muted autoplay>
                <source src="{{ STATIC_URL }}images/header02.mp4" type="video/mp4" />
                <source src="{{ STATIC_URL }}images/header02.webm" type="video/webm" />
            </video>
        </div>
        <div class="container">
            <h1 class="col-xs-12">Get your hands on our data!</h1>

            <div id="api-thanks" class="thanks">Thanks for signing up! You'll receive an e-mail with further details shortly.</div>

            <div class="clearfix"></div>

            <a class="btn btn-lg" href="{% url "customers-register" %}" role="button">Sign Up</a>

            <cite class="credit hidden-xs hidden-sm">Background CC <a href="http://www.openfootage.net/?p=47" target="_blank">OpenFootage.net</a></cite>
        </div>
    </div>

    <div id="developer-program" class="container section">
        <h1 class="full-pad">Announcing the <br><img class="img-responsive" src="{{ STATIC_URL }}images/banner-dev-program.png" alt="PressureNet Developer Program"></h1>

        <div class="row">
            <p class="col-md-6 col-md-offset-3">We’re inviting iOS and Android developers to participate in our PressureNet Developer Program. We’ll choose the best 10 developers to work with us in creating the highest-resolution weather data platform ever made.</p>
        </div>
        
        <div class="row">
            <h2>How it Works</h2>
            <p class="col-md-6 col-md-offset-3">Apply with <a href="{% url "customers-register" %}">this</a> form today! Tell us why you think you’d be a good fit - how does the best weather forecast help your users?</p>
            <p class="col-md-6 col-md-offset-3">Our Android SDK makes the process of collecting atmospheric pressure data very simple. We’ll help you along and listen to your feedback - let’s make the best weather forecast together!</p>
        </div>

        <div class="row">
            <h2>Benefits</h2>
            <p class="col-md-6 col-md-offset-3">Join our science effort to improve everyone’s weather forecast!</p>
            <p class="col-md-6 col-md-offset-3">Invent new features made possible by hyper-local weather information.</p>
            <p class="col-md-6 col-md-offset-3">Work with us to be a part of the weather’s future!</p>
        </div>

        <h2 class="drop">Ready to help change the world?</h2>
        <a class="btn btn-primary btn-lg" href="{% url "customers-register" %}" role="button">Apply now!</a>

    </div>

<!--
    <div id="uses-cases" class="container section">
        <h1 class="full-pad">PressureNet Applications</h1>

        <div id="apps-carousel" class="jcarousel row">
            <div class="jcarousel-tray">
                <div class="jcarousel-slide">
                    <figure class="col-sm-4 col-md-5 col-lg-6">
                        <img class="img-responsive" src="{{ STATIC_URL }}images/screen-pressurenet.png" alt="">
                    </figure>
                    <figcaption class="col-sm-8 col-md-7 col-lg-6">
                        <h2>PressureNet</h2>
                        
                        <p>By downloading pressureNET you are a citizen scientist helping make weather forecasts more accurate! Submit weather reports, watch animations of crowdsourced conditions, and get alerts of nearby weather.</p>

                        <a class="btn btn-play btn-store btn-lg" href="https://play.google.com/store/apps/details?id=ca.cumulonimbus.barometernetwork" role="button"></a>
                    </figcaption>
                </div>
                <div class="jcarousel-slide">
                    <figure class="col-sm-4 col-md-5 col-lg-6">
                        <img class="img-responsive" src="{{ STATIC_URL }}images/screen-weather-alarm.png" alt="">
                    </figure>
                    <figcaption class="col-sm-8 col-md-7 col-lg-6">
                        <h2>Weather Alarm</h2>

                        <p>Everyone wants to know the weather when they wake up. Why isn’t it a part of the alarm clock app on your phone?</p>

                        <a class="btn btn-vote btn-lg" href="#" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Vote', 'Weather Alarm', 'Want']);" data-vote-type="want" data-vote="Weather Alarm" role="button">I Want This!</a>
                        <a class="btn btn-vote btn-email btn-lg" href="mailto:partnerships@cumulonimbus.ca?subject=I%20Wanna%20Build%20Weather%20Alarm!" onClick="_gaq.push(['_trackEvent', 'Buttons', 'Vote', 'Weather Alarm', 'Build']);" data-vote-type="build" data-vote="Weather Alarm" target="_blank" role="button">I Wanna <em>Build</em> It!</a>
                    </figcaption>
                </div>
            </div>
            <a class="jcarousel-prev" href="#"></a>
            <a class="jcarousel-next" href="#"></a>
        </div>
    </div>
-->
    
    <div id="features" class="container section">
        <h2 class="full-pad">Features</h2>

        <div class="border-right col-sm-6">
            <h3>SDK</h3>
            <ul class="feature-list">
                <li>Simple Android library project</li>
                <li>Handles all sensor data collection and transmission</li>
                <li>Supports multiple use cases depending your needs</li>
                <li>Flexible data schedule</li>
                <li>Open Source (MIT license)</li>
                <li>Read the <a href="https://github.com/Cbsoftware/pressureNET-SDK/blob/master/Documentation.md">full documentation</a></li>
            </ul>
            <p><a class="btn btn-default" href="https://github.com/Cbsoftware/pressureNET-SDK" role="button"><i class="fa fa-github fa-lg"></i> Git</a> the SDK or <a href="{{ STATIC_URL }}docs/PressureNet-SDK-1.2-master.zip">download</a> the latest stable release.</p>
        </div>
        <div class="col-sm-6">
            <h3>API</h3>
            <ul class="feature-list">
                <li>Live atmosphere data feed from our global smartphone network</li>
                <li>800,000 measurements per day (May 2014)</li>
                <li>Simple access through HTTPS</li>
                <li>Data returned in JSON</li>
                <li>Read the <a href="{{ STATIC_URL }}docs/PressureNet-Data-API.pdf">full documentation</a></li>
            </ul>
        </div>
    </div>

    <div class="container section">
        <h2>Excited?</h2>
        <a class="btn btn-primary btn-lg" href="{% url "customers-register" %}" role="button">Sign Up!</a>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/jcarousel.min.js"></script>
    <script src="{{ STATIC_URL }}js/purl.js"></script>

    <script type="text/javascript">
        $(function () {
            var success = $.url().param( "success" );
            if ( success ) $( "#api-thanks" ).delay( 250 ).fadeIn( 250 ).delay( 5000 ).fadeOut( 500 );
        });
    </script>
{% endblock %}