{% extends "base.html" %}
{% load customers_tags %}
{% load widget_tweaks %}

{% block page_title %} | API Registration{% endblock %}

{% block body_class %}api{% endblock %}

{% block header_class %}short {% endblock %}


{% block content %}
    <div id="signup-api-title" class="jumbotron section tall-box">
        <div class="container">
            <h1 class="full-pad">Sign Up for an API Key</h1>
        </div>
    </div>

    <div class="tab-group container">
        <a id="tab-link-sdk" class="tab-link active" href="#" data-tab="sdk">Developer Program</a>
        <a id="tab-link-api" class="tab-link" href="#" data-tab="api">API</a>
    </div>

    <div id="signup-form" class="tab-sdk container section">

        <form class="form-horizontal" role="form" method="POST" action="{% url "customers-api-register" %}">

            {% csrf_token %}

            <div class="form-group">
                <label id="label-name" for="id_contact_name" class="col-sm-2 control-label"></label>
                <div class="col-sm-4 {% if form.contact_name.errors %}has-error{% endif %}">
                    {% render_field form.contact_name class="form-control" %}
                    <label class="control-label" for="id_contact_name">
                        {% for error in form.contact_name.errors %}
                            {{ error }}
                        {% endfor %}
                    </label>
                </div>
                <label for="id_contact_mail" class="col-sm-2 control-label">E-Mail</label>
                <div class="col-sm-4 {% if form.contact_mail.errors %}has-error{% endif %}">
                    {% render_field form.contact_mail class="form-control" %}
                    <label class="control-label" for="id_contact_mail">
                        {% for error in form.contact_mail.errors %}
                            {{ error }}
                        {% endfor %}
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label id="label-company" for="id_company_name" class="col-sm-2 control-label"></label>
                <div class="col-sm-4 {% if form.company_name.errors %}has-error{% endif %}">
                    {% render_field form.company_name class="form-control" %}
                    <label class="control-label" for="id_company_name">
                        {% for error in form.company_name.errors %}
                            {{ error }}
                        {% endfor %}
                    </label>
                </div>
                <label id="label-phone" for="id_contact_phone" class="col-sm-2 control-label"></label>
                <div class="col-sm-4 {% if form.contact_phone.errors %}has-error{% endif %}">
                    {% render_field form.contact_phone class="form-control" %}
                    <label class="control-label" for="id_contact_phone">
                        {% for error in form.contact_phone.errors %}
                            {{ error }}
                        {% endfor %}
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label id="label-address" for="address" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    {% render_field form.contact_address class="form-control" rows="4" %}
                </div>
                <label for="comments" class="col-sm-2 control-label">Comments</label>
                <div class="col-sm-4">
                    {% render_field form.comments class="form-control" rows="4" %}
                </div>
            </div>

            <div id="registration-type" class="form-group">
                <h3>Registration Type</h3>
                {% get_customer_types as customer_types %}
                {% for customer_type in customer_types %}
                    <div id="customer-type-{{ customer_type.id }}" class="col-sm-6">
                        <div class="radio">
                            <label class="control-label">
                                <input id="type-public" type="radio" name="customer_type" 
                                    {% if form.customer_type.value %}
                                        {% ifequal form.cleaned_data.customer_type.id customer_type.id %}checked="checked"{% endifequal %}
                                    {% else %}
                                        {% ifequal customer_type.name "Developer" %}checked="checked"{% endifequal %}
                                    {% endif %}
                                    value="{{ customer_type.id }}"
                                />
                                <h4 class="text-left">{{ customer_type.name }}</h4>
                                <p class="text-left">{{ customer_type.description }}</p>
                            </label>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                    <div class="checkbox {% if form.conditions.errors %}has-error{% endif %}">
                        <label>
                            <input name="conditions" type="checkbox"> I have read and agree with the <a data-toggle="collapse" href="#terms">terms and conditions</a>.
                        </label>
                        <label class="control-label" for="id_conditions">
                            {% for error in form.conditions.errors %}
                                {{ error }}
                            {% endfor %}
                        </label>
                        <div id="terms" class="collapse">
                            <h4>Terms and Conditions for API Registration</h4>
                            <p>Cumulonimbus has been primarily motivated by and is committed foremost to improving the world and advancing scientific progress. We are therefore happy to supply our live stream free of charge for scientific and non-commercial use only.</p>
                            <p>We are proud to have been providing a continuous live stream to researchers at the University of Washington. However, in a project like this, technical or human error can interrupt, distort, or otherwise interfere with our live stream, and Cumulonimbus makes no representations as to the quality, consistency, or continuity of our live stream, whether affected by negligence or otherwise. Cumulonimbus assumes no liability whatsoever in supplying our live stream free of charge to researchers.</p>
                            <p>We reserve all rights to the data supplied in our live stream and may withdraw access to the live stream at any time and for any reason.</p>
                            <p>Please let us know if you’d like to redistribute the data supplied in our live stream, and we’ll be happy to discuss!</p>
                            <p>As the project grows, our operational needs may change, so we may charge a fee for our live stream in the future. We will of course always remain foremost committed to promoting scientific progress, so we will ever endeavour to help advance your research objectives.</p>
                            <p>By accepting use of our live stream, you accept the terms above.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-lg btn-primary" type="submit">Sign up!</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}
