.footer {
    background: #FFF;
    min-height: 60px;
    margin-top: 100px;
    padding-top: 14px;
    line-height: 32px;

    .social_media_icon {
        width: 32px;
        height: 32px;
        margin-left: 15px;
    }
}

@media(max-width:767px) {
    .social-media {
        float: none !important;
        margin: auto;
    }

    #copyright {
        text-align: center;
    }
}

#social {
    display: block;
    float: right;
    list-style: none;
    padding: 0;
}

#social li {float: left;}
#social li:not(:last-of-type) {margin-right: 15px;}

#social a {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../images/ic-social.png");
    background-size: 304px 64px;
}

#social-cb {background-position: 0 0;}
#social-rss {background-position: -48px 0;}
#social-email {background-position: -80px 0;}
#social-github {background-position: -112px 0;}
#social-twitter {background-position: -144px 0;}
#social-gplus {background-position: -176px 0;}
#social-facebook {background-position: -208px 0;}
#social-linkedin {background-position: -240px 0;}
#social-play {background-position: -277px 0;}
#social-cb:hover {background-position: 0 -32px;}
#social-rss:hover {background-position: -48px -32px;}
#social-email:hover {background-position: -80px -32px;}
#social-github:hover {background-position: -112px -32px;}
#social-twitter:hover {background-position: -144px -32px;}
#social-gplus:hover {background-position: -176px -32px;}
#social-facebook:hover {background-position: -208px -32px;}
#social-linkedin:hover {background-position: -240px -32px;}
#social-play:hover {background-position: -277px -32px;}
