@media (min-height: 740px) {
    .footer {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        bottom: 0;
        margin-bottom: 0;
        border-width: 1px 0 0;
    }
}

body {
    background: url('../images/landing/clouds.png');
    background-repeat: no-repeat;
    background-position: 0 -30px;
}
