@import "branding.less";

body {
    background: url('../images/landing/clouds.jpg');
    background-repeat: no-repeat;
    background-position: 0 14px;
}

.hero {
    margin-top: 40px;
}

.hero-image {
    text-align: center;

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
    }
}

.press-head {
    border-bottom: 1px solid #ebebeb;
    color: @text_light_col;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    margin: 1em 0;
    text-align: center;
    font-weight: 100;
}



@media(min-height: 740px) {
    .footer {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        bottom: 0;
        margin-bottom: 0;
        border-width: 1px 0 0;
    }
}

@media(max-width:767px) {
    #landing_clouds {
        position: absolute;
    }

    #landing_text_clouds {
        color: #222;
        text-shadow: none; 
    }

    #landing_text {
        text-align: center;

        .hero-tagline {
            font-size: 45px;
        }

        .lead {
            font-size: 38px;
        }

        p {
            font-size: 20px;
            padding-top: 25px;
        }

        .googleplay_img {
        }
    }
}

// Tablet
@media(min-width:768px){
    #landing_clouds {
        position: absolute;
        top: -18px;
        z-index: -1;
    }
    
    #landing_text {
        #landing_text_clouds {
            color: #fff;
            text-shadow: 1px 1px #666; 
        }

        .hero-tagline {
            font-size: 55px;
        }

        .lead {
            font-size: 38px;
        }

        p {
            font-size: 20px;
            padding-top: 25px;
        }

        .googleplay_img {
            height: 60px;
        }
    }
}

// Desktop
@media(min-width:992px){
    .hero-image {
        margin-top: 20px;
    }

    #landing_clouds {
        position: absolute;
        top: -18px;
        z-index: -1;
    }
    
    #landing_text {
        #landing_text_clouds {
            color: #fff;
            text-shadow: 1px 1px #666; 
        }

        .hero-tagline {
            font-size: 50px;
        }

        .lead {
            font-size: 45px;
        }

        p {
            font-size: 20px;
            padding-top: 13px;
        }
    }
}
