// Header
.nav {
    margin-top: 35px;
}

#landing_clouds {
    position: absolute;
    top: -18px;
    z-index: -1;
}

.hero {
    margin-top: 2em;
}

.logotype {
}


@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
    .header {
    }

}

// Footer
.footer {
    background: #FFF;
    min-height: 60px;
    margin-top: 100px;
    padding-top: 14px;
    line-height: 32px;
}

