// Header
.nav {
    margin-top: 1em;
}

.hero {
    margin-top: 2em;
}

.logotype {
    color: @brand_primary_col;
}

.home,
.about,
.header {
	display: table-row;
	height: 1px;
	width: 960px;
	margin: auto auto;
}

.home,
.about {
	height: auto;
}

// Footer
.footer {
    color: #333;
    background: #ccc;
    min-height: 60px;
    padding-top: 14px;
    line-height: 32px;
    width: 100%;
}

