// Hero
.header {
    background-color: #fff;
}

.hero-image {
    text-align: center;

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
    }
}

// Mobile
@media(max-width:767px) {
    .nav {
        margin-top: 10px;

    }

    .nav,
    .nav > li {
        float: none !important;
        display:inline-block;
        *display:inline; /* ie7 fix */
        *zoom:1; /* hasLayout ie7 trigger */
        vertical-align: top;
    }

    .nav-container {
      text-align:center;
    }
    
    #landing_clouds {
        position: absolute;
    }

    #landing_text_clouds {
        color: #222;
        text-shadow: none; 
    }

    .header {
        h1 {
            text-align: center;
        }

        .logotype {
            font-size: 30px;
        }
    }

    #landing_text {
        text-align: center;

        .hero-tagline {
            font-size: 45px;
        }

        .lead {
            font-size: 38px;
        }

        p {
            font-size: 20px;
            padding-top: 25px;
        }

        .googleplay_img {
        }
    }

    .social-media {
        float: none !important;
        margin: auto;
    }

    #copyright {
        text-align: center;
    }
}

// Tablet
@media(min-width:768px){
    .nav {
        margin-top: 35px;

    }
    #landing_clouds {
        position: absolute;
        top: -18px;
        z-index: -1;
    }
    
    #landing_text {
        #landing_text_clouds {
            color: #fff;
            text-shadow: 1px 1px #666; 
        }

        .hero-tagline {
            font-size: 50px;
        }

        .lead {
            font-size: 38px;
        }

        p {
            font-size: 20px;
            padding-top: 25px;
        }

        .googleplay_img {
            height: 60px;
        }
    }
}

// Desktop
@media(min-width:992px){
    .nav {
        margin-top: 35px;

    }

    #landing_clouds {
        position: absolute;
        top: -18px;
        z-index: -1;
    }
    
    #landing_text {
        #landing_text_clouds {
            color: #fff;
            text-shadow: 1px 1px #666; 
        }

        .hero-tagline {
            font-size: 50px;
        }

        .lead {
            font-size: 45px;
        }

        p {
            font-size: 20px;
            padding-top: 16px;
        }
    }
}
