{% extends "base.html" %}

{% block page_title %}
    {{ blog_post.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="blog_post col-md-offset-1 col-md-10">
                <h1>{{ blog_post.title }}</h1>
                <em>{{ blog_post.creation_date.date }}</em>
                <p class="lead">{{ blog_post.author.first_name }} {{ blog_post.author.last_name }}</p>
                <div class="blog_content">
                    {{ blog_post.content|safe }}
                </div>
                <hr/>
            </div>
        </div>
        <div class="blog_comments row">
            <div id="disqus_thread" class="col-xs-12 col-md-10 col-md-offset-1"></div>
            <script type="text/javascript">
                var disqus_shortname = 'pressurenet';
                var disqus_identifier = '{{ blog_post.title|slugify}}';
                var disqus_title = '{{ blog_post.title }}';

                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>
{% endblock %}
