{% extends "base.html" %}
{% load blog_tags %}

{% block page_title %} | Blog Archives{% endblock %}

{% block body_class %}blog{% endblock %}

{% block header_class %}short{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            <div class="post-archive col-sm-8 col-md-9 col-lg-10 col-sm-push-4 col-md-push-3 col-lg-push-2">

                {% for blog_post in blog_posts %}
                    <div class="post clearfix">
                        <div class="col-sm-4">
                            <a href="{% url "blog-detail" slug=blog_post.slug %}"><img class="post-archive-image" src="{{ blog_post.image.url }}" alt=""></a>
                        </div>
                        <div class="col-sm-8">
                            <h3 class="post-archive-title"><a href="{% url "blog-detail" slug=blog_post.slug %}">{{ blog_post.title }}</a></h3>
                            <ul class="meta-list">
                                <li><a href="{% url "blog-list-author" author=blog_post.author.first_name %}">{{ blog_post.author.first_name }} {{ blog_post.author.last_name }}</a></li>
                                <li>{{ blog_post.creation_date.date }}</li>
                                <li><a href="{% url "blog-detail" slug=blog_post.slug %}#disqus_thread">Comments</a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="archive-nav col-sm-4 col-md-3 col-lg-2 col-sm-pull-8 col-md-pull-9 col-lg-pull-10">
                <div id="authors" class="col-xs-6 col-sm-12">
                    <h4>Authors</h4>
                    <ul class="archive-nav-list">
                    {% get_authors as authors %}
                    {% for author in authors %}
                        <li><a href="{% url "blog-list-author" author=author.first_name %}">{{ author.first_name }} {{ author.last_name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'pressurenet'; // required: replace pressurenet with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}
