<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>pressureNET</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">

    {% block extra_head %} {% endblock extra_head  %}

  </head>

  <body>
    {% block header %}
    <div class="header">
        <div class="container">
            <ul class="nav nav-pills pull-right">
                <li><a href="{% url 'customers-landing' %}">Developers</a></li>
                <li><a href="{% url 'home-about' %}">About</a></li>
            </ul>

            <h1>
                <a href="{% url 'home-index' %}">
                    <img src="{{ STATIC_URL }}images/pressurenet-logo-small.png" alt="pressurenet logo">
                    <span class="logotype">pressure<strong>NET</strong></span>
                </a>
            </h1>
        </div>
    </div>
    {% endblock %} 

        {% block content %} {% endblock content %}

    <div class="footer">
        <div class="container">
            {# TODO: social media icons #}
            <div class="social-media pull-right">
                <img class="social-media-icon" src="http://placehold.it/32/444" alt="TODO">
                <img class="social-media-icon" src="http://placehold.it/32/444" alt="TODO">
                <img class="social-media-icon" src="http://placehold.it/32/444" alt="TODO">
                <img class="social-media-icon" src="http://placehold.it/32/444" alt="TODO">
                <img class="social-media-icon" src="http://placehold.it/32/444" alt="TODO">
            </div>

            <p>Copyright &copy; 2013 Cumulonimbus Inc.</p>
        </div>
    </div>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-78967-8']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.min.js"></script>

    {% block extra_js %} {% endblock extra_js %}

    {% if debug %}
        <script src="//{{ request.META.SERVER_NAME }}:35729/livereload.js"></script>
    {% endif %}

  </body>
</html>
